/* SPECIFICATION
Have at least one stylesheet file of your own creation, styles.css,
which uses at least five (5) different CSS selectors (e.g. tag (example),
class (.example), or ID (#example)), and within which you use a total of
at least five (5) different CSS properties, such as font-size, or margin; and */


.cookies
{
    font-size: 1rem;
    color: DarkGrey;
}

.vidheader
{
    position: relative !important;
    max-height: 100vh;
    min-height: 25rem;
}

a.nav-link
{
    color: white;
}

footer>a
{
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
}

footer>p
{
    color: DarkGrey;
}

.html, .body, .wrapper
{
    height: 100vh;
}

.padding-default
{
    padding: 2rem;
}
.custom-cards
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.white-style
{
    color: white;
}
.page-content
{
    margin-left: 5%;
    margin-right: 5%;
}
.active
{
    font-weight:bold;
    text-decoration: overline;
}
.big-footer
{
    position: relative;
    bottom: 0;
}
h1
{
    margin-top: 3rem;
}
h4
{
    margin-top: 3rem;
    color: #6c757d;
}
h3
{
     color: #6c757d;
}
.hero-parent
{
    display: flex;
    min-height: 90vh;
}
.hero-child
{
    margin:auto;
}

.hero-child h1
{
    margin-top: 0rem;
}

.card .card-img-right
{
    width: 200px;
    height: 250px;
}